
.button {
    border: 3px solid red;
    max-width: 150px;
    margin:auto;
}
img {
    max-width:75%; 
    height:auto;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: darkslateblue;
}
h5 {
    font-size: 18px;
    color: darkslateblue;
}
.row {
    padding-top: 10px;
}
.container {
    background-color: cornsilk;
    border: 3px solid darkslateblue;
    /* max-width: 960px; */
}

#instructions {
    /* position: relative;
    top:50px; */
    padding: 10px;
    /* max-width: 640px; */
    color: darkslateblue;
}

#target {
    /* position: absolute; */
    /* float: left; */
    /* width: auto; */
    /* margin-left: 5%; */
    padding: 5px;
    text-align: center;
    /* top: 10%;
    left: 5%; */
}

#currentScore {
    /* position: absolute; */
    /* float:left; */
    /* width: auto; */
    padding: 5px;
    text-align: center;
    /* top:10%; */
    /* right: 5%; */

}
#winLoss {
    /* position: absolute; */
    /* float: left; */
    /* width: auto; */
    text-align: center;
    padding: 5px;
    /* top:33%;
    left: 5%; */
}

#btn {
    /* float: left; */
}
#buttons {
    /* position: absolute; */
    height:100px;
    /* float: left; */
    /* left: 25%;
    bottom: 15%; */
}
