.button {
    border: 2px solid red;
    max-width: 150px;
}
img {
    max-width:100%; 
    height:auto;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
h3 {
    font-size: 18px;
}
.container {
    position: relative;

}
#instructions {
    /* position: relative;
    top:50px; */
    padding: 10px;
    max-width: 640px;
    border: 2px solid black;
}

#gamecard {
    /* position: relative;
    top: 100px; */
    margin: 20 auto;
    border: 3px solid yellow;
    height: 100%;
    max-width: 640px;
    min-width: 400px;
}

#target {
    /* position: absolute; */
    float: left;
    width: auto;
    padding: 5px;
    border: 2px solid red;
    /* top: 10%;
    left: 5%; */

}
#currentScore {
    /* position: absolute; */
    float:left;
    width: auto;
    padding: 5px;
    border: 2px solid blue;
    /* top:10%; */
    /* right: 5%; */

}
#winLoss {
    /* position: absolute; */
    float: left;
    width: auto;
    padding: 5px;
    border: 2px solid green;
    /* top:33%;
    left: 5%; */
}

#btn {
    float: left;
}
#buttons {
    /* position: absolute; */
    height:100px;
    /* float: left; */
    /* left: 25%;
    bottom: 15%; */
}
